//Main
$accent: #ff5253;
$white: #ffffff;
$dark: #363636;
$dark30: rgba(54, 54, 54, 0.3);

//Buttons
$pressed: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
$hover: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);

//Text
$fire: #f83600;

//Other
$warning: #ffbc1f;
$positive: #00ca71;
$negative: #f42c4f;
$bcgPositive: #ebf9f1;
$bcgNegative: #feebea;

//Gray
$gray70: #727272;
$gray40: #a7a7a7;
$gray20: #bfc4c9;
$gray10: #ebebeb;
$gray5: #f9f9fa;

$box-shadow24: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
  0px 1px 5px rgba(191, 196, 201, 0.24);
